<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Narbe_Final>
            <version>1.0.0</version>
        </Narbe_Final>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Narbe_Final />
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Narbe_Final before="Mage_Adminhtml">Narbe_Final_Adminhtml</Narbe_Final>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <narbe_final>
                    <file>final/narbe_final.xml</file>
                </narbe_final>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <narbe_final>
                <class>Narbe_Final_Helper</class>
            </narbe_final>
        </helpers>
        <blocks>
            <narbe_final>
                <class>Narbe_Final_Block</class>
            </narbe_final>
        </blocks>
        <models>
            <narbe_final>
                <class>Narbe_Final_Model</class>
            </narbe_final>
            <log_resource>
                <rewrite>
                    <final>Narbe_Final_Model_Log_Resource_Final</final>
                </rewrite>
            </log_resource>
        </models>
    </global>
    <default>
        <system>
            <log>
                <backup_before>1</backup_before>
            </log>
        </system>
    </default>
    <crontab>
        <jobs>
            <log_backup>
                <run>
                    <model>final/cron::logBackup</model>
                </run>
            </log_backup>
        </jobs>
    </crontab>
</config>
